# General
.DS_Store
.vscode/
.idea/
*.log
*.tmp
*.bak
Thumbs.db

# Rust
/target/
**/*.rs.bk

# for stl file uploads
/test_uploads/*.stl

# Node.js / Frontend
node_modules/
dist/
npm-debug.log*
playwright-report/
test-results/
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/

# Environment Variables
.env
.env.local
.env.*.local
